[2018-08-01 15:14] kbroughton opened #9 "first run of ./start.sh fails on credfile.write("Administrator Password: " + clearpass + '\n')"
I'm running on osx 10.13.6
with brew installed gpg

$ gpg --version
gpg (GnuPG) 2.2.4
libgcrypt 1.8.2
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <https://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Home: /Users/kbroughton/.gnupg
Supported algori

[2018-08-01 15:18] kbroughton opened #10 "MalformedPolicy: Policy has invalid resource"
running on osx 10.13.6

$ terraform --version
Terraform v0.11.7

I tried a few times and it keeps erroring out here:

aws_s3_bucket.cloudgoat_private: Still creating... (1m0s elapsed)

Error: Error applying plan:

1 error(s) occurred:

* aws_s3_bucket.cloudgoat_private: 1 error(s) occurred:

* aws_s3_bucket.cloudgoat_private: Error putting S3 policy: MalformedPolicy: Policy has invalid resource
	s

[2018-08-02 01:35] SpenGietz commented on #9
What version of python are you running? I suspect that may have something to do with it

[2018-08-02 02:13] SpenGietz commented on #9
I fixed it to support Python3 and merged in here: https://github.com/RhinoSecurityLabs/cloudgoat/pull/11. Thanks for the report!

[2018-08-02 02:13] #9 closed

[2018-08-02 13:27] kbroughton commented on #9
I can confirm that fixed it.  Thanks!

[2018-08-02 13:55] kbroughton commented on #10
Possibly related to
https://github.com/terraform-providers/terraform-provider-aws/pull/4497

with TF_LOG=DEBUG

I can see that the policy is not being templated correctly
[code]
DEBUG OUTPUT FOLLOWS
[code]
So it appears the default in variables.tf is not being used (although S3 bucket names have to be unique so ??)

    variable "cloudgoat_private_bucket_name" {
      default = "cloudgoat-bucket-p

[2018-08-02 14:17] kbroughton commented on #10
Found the issue:
cloudgoat_private_bucket_name gets set in ./start.sh:

cloudgoat_private_bucket_name=$(cat /dev/urandom | tr -dc 'a-z0-9' | fold -w 32 | head -n 1)

but:

$ cat /dev/urandom | tr -dc 'a-z0-9' | fold -w 32 | head -n 1
tr: Illegal byte sequence

Replacing the /dev/urandom with one of the following works:
cloudgoat_private_bucket_name="$RANDOM-$RANDOM-$RANDOM-$RANDOM"
cloudgoat_priva

[2018-08-02 16:49] SpenGietz commented on #10
Thanks for looking into this! Very helpful.

Looks like Python2 doesn't have the secret library, so I'm thinking $RANDOM is the way to go here. I don't have a Mac, but had someone test the same command and they got the same error you did. I'll comment back here when I push up a fix

[2018-08-04 10:58] Arslanshn opened #13 "logo design cloudgoat"
Hi, I want to design a new logo for the project completely free...

[2018-08-06 16:56] MiloATH commented on #10
Can confirm that this branch works on MacOS

[2018-08-06 17:39] SpenGietz commented on #10
Just merged into master, thanks @MiloATH!

[2018-08-06 17:39] #10 closed

[2018-08-07 17:35] kbroughton opened #14 "enhancement: address multi-tenancy issues with session ids for generated resources"
I'm showing cloudgoat to some colleagues and we are using a company AWS org.
The multitenancy desired is:
shared AWS org
separate cloudgoat envs per user

This causes some problems:

cloudgoat_key is created once by the first user and others don't have access to the private key
 - workaround: choose a distinct region for the second user to upload a key to
- fix: have the cloudgoat_key read from ~/

[2018-08-14 07:23] xep624 opened #15 "Missing security group in EC2 instance"
Hi guys!

I see that after deploying the Cloadgoat, the EC2 instance has only "cloudgoat_ec2_sg" security group assigned, what allows only for inbound SSH traffic. I guess it should also be assigned to "cloudgoat_lb_sg" group to allow for HTTP traffic by default.

P.S.
But also have to say that (at least so far) Cloudgoat works like a charm and I really enjoy it - awesome job guys!

[2018-08-15 15:57] SpenGietz commented on #15
Hey, glad you are enjoying it!

The EC2 instance is only given inbound access over SSH on purpose, as part of CloudGoat is figuring out a way to open that port on that instance, so you can access the web server.

It tries to simulate a scenario where a certain port is white-listed to an IP that isn't yours, or potentially a webapp that is meant to be accessible from localhost only, but happens to

[2018-08-15 15:57] #15 closed

[2019-03-13 15:44] mgeeky opened #19 "Insufficient ELB configuration"
Hi,

I've experienced an issue where ELB was put to the AZ `us-west-2a` whereas EC2 into `us-west-2b`. Because of that, ELB kept reporting that `Instance is in the ec2 availability zone for which load balancer is not configured`.

After couple of Health checks passed from ELB, it's status started switching among:
- "Instance has not passed the configured HealthyThreshold number of health checks co

[2019-03-20 12:10] lukasz-vsl opened #20 "User Data not applied on first boot - instance unreachable via SSH and HTTP"
When creating the environment with ./start.sh <ip-here> it runs as intended however the instance is later unreachable as the User-Data is not executed on the created instance. It required the instance to be rebooted, which then executed UserData as intended.

This was verified by removing `#cloud-boothook` from ec2.tf file, which will cause User data to execute on initial launch instead of every-o

[2019-03-20 12:20] #20 closed

[2019-03-20 17:42] LukaszMrozowski commented on #20
On that note, in future uses of #21 the boothook comment would not allow instance to boot properly and it would remain unavailable. To inject bash scripts via CloudInit, use [https://aws.amazon.com/premiumsupport/knowledge-center/execute-user-data-ec2/](url). Worked like a charm.

[2019-04-09 15:58] markaltmann commented on #19
I also had the problem, that the LoadBalancer could not speak to the EC2 instance at all.
The LB SG has the proper egress rules, but the EC2 SG missed the inbound rules.
Alas, the health check failed and the instance was "out of service"

i fixed this by adding the following in ec2.tf:

[code]

Was i the only one, where that failed?

[2019-04-28 22:12] SpenGietz commented on #19
I apologize for the delay here.

So, I agree it is not very clear, but the original idea was that the load balancer was just its own thing to check out and wasn't directly related to the EC2 instance. It wasn't actually supposed to route traffic to the EC2 instance, but that's confusing in itself.

The EC2 instance was purposely setup to not allow inbound access to its webserver and like @mgeeky s

[2019-04-28 22:15] SpenGietz commented on #19
Added a note to the readme for this! Thanks for the report

[2019-04-28 22:15] #19 closed

[2019-05-07 14:21] mfuellbier opened #22 "Why are most of the services not inside the VPC?"
The EC2 Instance and the ELB are part of a VPC, but all the other services (s3, Lambda, Lightsail) are not. It would be nice to also have them displayed in [Cloudmapper](https://github.com/duo-labs/cloudmapper ), but Cloudmapper only displays instances with a VPN-Endpoint.

[2019-05-22 12:39] mfuellbier commented on #22
Wouldn't it be nice to give the user the option to launch Cloudgoat in a custom VPC. This way, multiple Cloudgoats could be launched in parallel, each in its own VPC. This would be handy in an environment where multiple user share an AWS Account.

[2019-06-03 17:57] leaustinwile opened #23 "Failing Installation - Credentials.txt Empty"
I start off by running the below command:

`./start.sh 192.168.1.0/24`

I use my public IP and terraform appears to apply the changes fine, but then I get this error:
[code]

I'm on the newest version of Ubuntu:

[code]
So I really don't know what else to try other than downgrading and installing it from like a 14.04/16.04 box. Thoughts?

[2019-06-24 15:17] rhino-xander commented on #23
Hey! This issue should be gone with the release of 2.0. Please let us know if you continue to have any issues.

[2019-06-24 15:17] #23 closed

[2019-06-24 15:18] rhino-xander commented on #22
Hey! These points should have been addressed quite handily in the 2.0 release.

[2019-06-24 15:18] #22 closed

[2019-06-24 15:19] rhino-xander commented on #14
Hey! These issue should be gone with the release of 2.0. Enjoy!

[2019-06-24 15:19] #14 closed

[2019-06-24 15:19] rhino-xander commented on #13
Hey - appreciate the offer, but we're pretty happy with our current logo. Thanks!

[2019-06-24 15:19] #13 closed

[2019-06-24 16:49] leaustinwile commented on #23
Awesome. FYI my AWS account has been banned as a result of attempting to
install cloudgoat incorrectly. You need to put a warning in your github
because they've decided it's irreversible.

On Mon, Jun 24, 2019 at 8:17 AM rhino-xander <notifications@github.com>
wrote:

[2019-06-24 16:49] leaustinwile commented on #23
I tried installing it about 3 times, maybe 4 and they banned me with no
recourse that I could take.

On Mon, Jun 24, 2019 at 9:48 AM Austin Wile <leaustinwile@gmail.com> wrote:

[2019-06-24 17:57] ghostinroot opened #24 "Error while running the ec2 terraform script."
./cloudgoat.py create rce_web_app
Using default profile "cloudgoat" from config.yml...
Loading whitelist.txt...
A whitelist.txt file was found that contains at least one valid IP address or range.

Now running rce_web_app's start.sh...
There are some problems with the configuration, described below.

The Terraform configuration must be valid before initialization so that
Terraform can determine wh

[2019-06-24 18:08] rhino-xander commented on #24
@ghostinroot hey - thanks for the bug report!

Unfortunately I'm having trouble replicating the issue on my side - are you able to share some more details on your system?

In particular, it'd be awesome if you could confirm your OS (type and version), the full version numbers of Terraform and python you have installed, and the contents of your whitelist.txt (redact the IP but leave CIDR range).

C

[2019-06-24 18:46] ghostinroot commented on #24
You're exactly right!!

I did an upgrade to my terraform to 0.12 but didn't link it, brew link terraform did that for me. Thank you.

[2019-06-24 18:52] rhino-xander commented on #24
So glad to hear that helped! I've made a note to look at ways to make CloudGoat more aware of what version of Terraform is being used.

[2019-06-29 16:48] omenking opened #25 "OSX Permission denied for ./cloudgoat.py config profile"
### How to Replicate
After a fresh clone following the README instructions when I attempted to run `./cloudgoat.py config profile` I received a permissions error: eg.

[code]
I gave permissions a look:
[code]

So I `chmod u+x cloudgoat.py` and this resolved the permission denied
[code]

I don't have Terraform as of yet but did resolve permissions denied
[code]

### Recommended Suggestion

Update t

[2019-06-29 17:46] omenking opened #26 "./cloudgoat create results in NoCredentialProviders"
I run the following:

[code]

This is the error that results:

[code]

Looking into the terraform script **variables.tf** looks like the following:

[code]

I am not familiar enough with Terraform and uncertain if I should see the variables correctly set here.

I did setup in my `~/.aws/credentials` a profile and I did also run

[code]

[2019-06-29 17:59] omenking commented on #26
- [x] reset my credentials with no luck
- [x] escalated permissions to Admin access no change
- [x] Checked terraform version - terraform: stable 0.12.3 (bottled), HEAD (no issue appears to b here)
- [x] set default region in config, no change
- [x] Checked for typos in credentials or profile name no change

I guess I'm going to have to learn some terraform. 😞

[2019-06-29 18:06] omenking commented on #26
it appears that `terraform plan` is being run by `core/python/commands.py`.
Since it doesn't output the entire command it's hard for me to replicate to debug.
Will check if there is a verbose mode in the code or just print out the full command before it runnings for me to attempt to debug.

[2019-06-29 18:45] omenking commented on #26
printed out the params being passed to:
[code]

They all look correct. Was not looking forward to debugging python today.  😞

[2019-06-29 18:55] omenking commented on #26
so I ran `terraform plan` manually and provided a variables file and still the same error.

[2019-06-29 18:57] omenking commented on #26
Testing my profile via the cli:
[code]

It works. okay, maybe I will have to hardcode my secret access key and token into the provider to further test here.

[2019-06-29 19:00] omenking commented on #26
hardcoding the access key and secret into the provider now gets me somewhere when running terraform plan.

It's hard to believe I am typing my profile incorrectly. I'm guessing I need to debug how terraform picks up `profile` for provider.

[2019-06-29 19:03] omenking commented on #26
Hardcoding profile:

[code]

results in that error. hmm...

[2019-06-29 19:06] omenking commented on #26
Terraform suggest you can specify the credential files if it fails to pick up:

[code]

The result however is the same error.

[2019-07-01 15:07] thetestlabs opened #27 "Incorrect AWS CLI Command"
In the Calrission cheat sheet [here](https://github.com/RhinoSecurityLabs/cloudgoat/blob/master/scenarios/codebuild_secrets/cheat_sheet_calrissian.md), one of the commands is wrong:

`aws describe-db-subnet-groups --profile Calrissian`

should be

`aws rds describe-db-subnet-groups --profile Calrissian`

[2019-07-01 15:37] Rhino-JBAnderson commented on #27
Thanks so much for pointing that out. Fix pushed!

[2019-07-01 15:37] #27 closed

[2019-07-03 21:30] garridor76 opened #28 "scenario iam_privesc_by_rollback / set-default-policy-version issue"
After executing a `set-default-policy-version` API call against IAM, in order to change the default policy version from v1 to v2 and complete the scenario, I do not see any changes.

The response I get from the CLI is `aws-cli/1.16.19 Python/3.7.3 Darwin/18.6.0 botocore/1.12.9` and yet, when I list the policy versions, I still see v1 as the default.

`aws> iam list-policy-versions --policy-arn "ar

[2019-07-04 02:46] rhino-xander commented on #28
Hey @garridor76 - really appreciate you trying out CloudGoat, and I'm sorry you seem to have run into trouble.

Luckily, I have the solution for you:  `--version` is the command to print the AWS CLI's version, which is what you're seeing. It seems that it will override everything else in the command.

If you try the command with `--version-id`, it should work properly.

Let me know if this solved

[2019-07-04 12:22] garridor76 commented on #28
duh!.  `--version-id` it is.  My bad, user error using aws-shell.
Thanks!

[2019-07-04 12:22] #28 closed

[2019-07-16 10:40] vizzdoom opened #29 "CloudGoat requires Python 3.6+ to run (Windows with Python 3.7.2)"
Observed on Win10 1903 with Python 3.7:
[code]

[2019-07-18 15:04] Maleus opened #30 "Feature Request - Tenant to Tenant Scenario"
Fantastic tool all, really helping me learn more than I though on AWS testing. Do you have any plans of releasing a tenant to tenant scenario of say compromising a "prod" tenant from a "dev" tenant?

Thanks again for this tool!

[2019-08-06 16:26] chrissparksnj commented on #26
having the same issue

[2019-08-06 17:20] chrissparksnj commented on #26
finally got it

`$ aws config --profile yourusername`
`$ Access Key: xxxxxxxxxxxxxxx`
`$ Secret Key: xxxxxxxxxxxxxxxx`

Then in `~/cloudgoat/scenarios/iam_privesc_by_rollback/terraform/provider.tf` make your provider block look like this.

[code]

1. Remove the profile key.
2. Hardcode in the region.

Then run the `./cloudgoat.py --create iam_privesc_by_rollback` command and your output should loo

[2019-08-06 20:16] zombietango opened #32 "Minimum AWS Policy Template"
Could you provide a bare minimum IAM security policy file that can be imported into an instance and assigned to the user CloudGoat is running under? I'd rather not create a full administrator user to run this, nor do most of our corporate sandbox instances allow for such a thing anyways. If you know what specific roles/permissions are needed to run the scenarios, that would make deployment much ea

[2019-08-06 20:31] rhino-xander commented on #32
Hey @zombietango  - thanks for reaching out. That's a very solid idea, and your caution in running CloudGoat is commendable!

I can't say when we'll be able to implement this, but I've added it to our internal board of product ideas. I'll also leave this issue open in case someone in the community wants to tackle this on their own.

[2019-08-06 20:34] rhino-xander commented on #30
@Maleus Thanks so much for the kind words! I'm glad to hear you're enjoying CloudGoat.

A tenant-to-tenant scenario is a great idea - and something we've discussed internally a few times. We don't have any immediate plans to build a scenario like that, but I'll leave this ticket open in case someone in the community wants to make one.

[2019-08-06 20:37] rhino-xander commented on #29
Hey @vizzdoom - appreciate you taking CloudGoat for a spin. Unfortunately, the project doesn't support windows at this time. That said, we are working on adding docker support, which should make it easier to run CloudGoat on Windows.

You can check it out here: https://github.com/RhinoSecurityLabs/cloudgoat/tree/feature/add-docker

[2019-08-06 20:37] #29 closed

[2019-08-06 20:41] rhino-xander commented on #25
@omenking Really appreciate the detailed writeup, and I'm going to go ahead with your suggestion to add that line to the quick-start guide.

Cheers!

[2019-08-06 20:41] #25 closed

[2019-08-06 21:12] rhino-xander commented on #26
@chrissparksnj @omenking

We've not been able to replicate this problem on my side, hence the lack of an immediate fix.

@chrissparksnj I don't want to merge your PR because removing the var for the profile will prevent CloudGoat from using the configured AWS CLI profile, and cause terraform to fall back to the default CLI profile. That could be very dangerous for people with "real" default profil

[2019-08-11 20:26] SyCode7 commented on #26
I had this issue but realized the `profile` refers to the exact name of the AWS profile in use as defined in the credentials file. For example, if a credential file might has the following content:

`[default]`
`aws_access_key_id=xxxxx`
`aws_secret_access_key=vvvvvv`

the command should be like so:
`python   ./cloudgoat.py create cloud_breach_s3 --profile default`

[2019-08-11 21:20] omenking commented on #26
These are not the real credentials but I left in the formating exactly the same:

[code]

[2019-08-11 21:50] SyCode7 commented on #26
@omenking could you try 'python ./cloudgoat.py <scenario command> --profile cloudgoat'?  Not 'default' since you are using 'cloudgoat' as profile name.

[2019-08-11 22:28] omenking commented on #26
@SyCode7  I have been using `--profile cloudgoat` See the original post. It's the first thing I run.

[2019-08-14 21:55] kulinacs opened #34 "Feature Request: Generalized 'CloudGoat' Tag for All Resources"
It would be great if resources created by CloudGoat included some tag like `application: cloudgoat` for filtering, cost allocation, etc.

[2019-08-14 22:00] rhino-xander commented on #34
@kulinacs thanks for checking out CloudGoat.

If you don't mind, could you expand on your idea a bit?

We already tag resources with the unique ID of the scenario instance. For example:

https://github.com/RhinoSecurityLabs/cloudgoat/blob/master/scenarios/cloud_breach_s3/terraform/ec2.tf
[code]

Were you thinking of something more general, like a `CloudGoat` tag applied to all resources regardless

[2019-08-15 14:21] kulinacs commented on #34
Yeah, I was thinking of something more general. It could be as simple as:
[code]

This would make it easier to do things like group CloudGoat resources together in the management console, filtering on the CLI, and [seeing how much you've spent using CloudGoat](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/activating-tags.html).

[2019-08-15 16:20] rhino-xander commented on #34
@kulinacs love it. I've added the idea to our team's internal product board. I'm not sure when we'll have time to implement this, so I'll leave this ticket open as well - just in case someone in the community wants to take this on.

[2019-08-22 21:59] rhino-xander commented on #26
@omenking we're still trying to figure this out.

Can you confirm that this happens for you with _all_ Cloudgoat scenarios, and not just `iam_privesc_by_rollback`?

[2019-08-22 22:24] rhino-xander commented on #26
@omenking  @chrissparksnj I think we have something here!

I was finally able to replicate the issue by doing the following:

1. Configure the AWS profile using a "normal" system user via the `aws configure --profile <name>` command.
2, Run the `./cloudgoat.py create <scenario>` command _as root_.

**Explanation:**

AWS CLI profiles are stored in the home directory, which means they are _not share

[2019-10-01 21:03] rhino-xander commented on #34
@kulinacs thanks to the hero of the hour ( @yogisec ) this has been added to CloudGoat. Enjoy!

[2019-10-01 21:03] #34 closed

[2019-10-24 23:14] #26 closed

[2019-11-08 07:46] jensen-ackles commented on #24
I installed terraform in my ubuntu system on aws but it is repeating the same error
Terraform initialized in an empty directory
The directory has no Terraform configuration files. You may begin working
with Terraform immediately by creating Terraform configuration files.

[2019-11-08 14:51] rhino-xander commented on #24
Hey @jensen-ackles - sorry to hear you're having trouble, but thanks for giving CloudGoat a try!

Can you please provide some screenshots or direct-copied commandline output for the following?

1. The version of terraform you are using
2. The exact command you ran which resulted in that error
3. A `ls -lah` of your cloudgoat install directory

Thanks!

[2019-11-11 06:53] jensen-ackles commented on #24
![Screenshot (18)](https://user-images.githubusercontent.com/57521093/68566983-e2294500-047d-11ea-9cc0-68764f5146df.png)

i am getting this error while trying deploying cloudgoat
if you can please provide solution

[2019-11-28 05:30] bbatmandakh commented on #24
I'm getting same error.
Cloudgoat 2.0
Terraform_0.12.16(terraform_0.12.16_linux_amd64.zip)

![cloudgoat_error](https://user-images.githubusercontent.com/24693946/69779470-7835cd00-11eb-11ea-96df-597df9bcc0b0.PNG)

Any solution?

[2019-12-02 16:52] rhino-xander commented on #24
@bbatmandakh @jensen-ackles @ghostinroot - can any of you review this solution ( https://github.com/RhinoSecurityLabs/cloudgoat/issues/26#issuecomment-524100877 ) and let me know if that was the issue?

TLDR: AWS creds live in `~/` which is per user, so if you run the AWS configs and cloudgoat under different users (e.g. root and your regular user) the error you encounter will occur.

[2019-12-03 21:57] wu4f opened #39 "Missing file? cloud_breach_s3/terraform/iam.tf"
In attempting to go through this level, I get the EC2 instance credentials, but when I try to use them, I get an AccessKeyId does not exist error.  I believe this is because of a missing iam.tf file in this scenario that doesn't create the "erratic" user in IAM that is associated with the key.

Output shown below...
(env) wuchang@mashimaro % curl http://52.205.207.234/latest/meta-data/iam/security

[2019-12-06 18:39] wu4f commented on #39
My mistake.  Needed the token to work

[2019-12-06 18:39] #39 closed

[2019-12-07 09:05] akashkatare opened #40 "iam_privesc_by_rollback issue"
whenever i am executing below command  i am getting the error like below any solutions thanx in advance.. This i happening with in all challenges.even i tried on normal user and root level user as well still getting this error.
Or is there anything to setup before starting this challenge

Error: No valid credential sources found for AWS Provider.
        Please see https://terraform.io/docs/provid

[2019-12-11 03:00] bbatmandakh commented on #24
its working!

[2019-12-12 18:05] #24 closed

[2020-01-04 11:46] dagmawim opened #46 "IAM privesc by rollback variable.tf issue"
Ran into the following issue on a mac
Seems like an issue during the terraform variable script generation.
[code]

[2020-01-04 12:11] dagmawim commented on #46
Nope..this was my fault...terraform version was 0.11

[2020-01-04 12:11] #46 closed

[2020-01-06 19:38] rhino-xander commented on #46
Haha, no worries. Glad you got that worked out!

[2020-01-12 13:44] halfluke opened #48 "rce_web_app scenario 502 bad gateway"
After some troubleshooting and creating and destroying multiple times, I found out that node.js on the ec2 instance was not started. Result: 502 bad gateway in browser when opening the elb url.
I connected via ssh by downloading cloudgoat private key from the related keystore bucket, I went to the home folder, unzipped app.zip, and run: node .
Not sure of the root cause.

[2020-01-12 21:26] halfluke commented on #48
Investigated a little and clearly the unzip command in ec2.tf doesn't work (only for me?), I still have to check if there are other issues.
        unzip app.zip -d ./app
        cd app
        node index.js &

[2020-01-13 01:35] halfluke commented on #48
so, checked /var/log/cloud-init-output.log on the ec2 instance.
the user_data is pulled fine and the instance tries to execute the bash script, however, it looks like in ubuntu bionic apt-get upgrade needs to restart some services, and it stops on the prompt of which services you want to restart.
The fix is: add
echo '* libraries/restart-without-asking boolean true' | sudo debconf-set-selections
a

[2020-01-13 12:32] halfluke opened #49 "echo "<publicKey>" >> /home/ubuntu/.ssh/authorized_keys not working in RCE_WEB_APP"
Not sure of the root cause, perhaps a nodejs parsing issue, but the = sign that is always present at the end of a public key (1 or 2 = signs) works as a truncation when passed through the input, and I didn't find any way to echo it or add it to the authorized_keys file.

To solve the problem, I did the following:
ssh-keygen -b 2048 -t rsa -f /tmp/sshkey -q -N ""
cp /tmp/sshkey.pub /home/ubuntu/.ss

[2020-01-28 00:28] halfluke opened #50 "Same issue in ec2_ssrf scenario as in rce_web_app scenario"
nodejs doesn't not start automatically without adding

        echo '* libraries/restart-without-asking boolean true' | debconf-set-selections

after
user_data = <<-EOF
        #!/bin/bash

in ec2.tf file.

So basically you cannot access the web app and you cannot perform the ssrf.
Please fix because having to troubleshoot something that was supposed to work has already spoiled two scenarios for m

[2020-01-31 19:44] rhino-sebastian commented on #40
Looks like this issue was caused by not having your AWS credentials configured. You can do this with the AWS cli `aws configure` ([https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html](link))

To test if your credentials are configured properly you can execute `aws sts get-caller-identity --profile <insert profile name>`.  👍

[2020-02-22 20:26] Nemesis66-7 opened #52 "Unable to Clone CloudGoat"
I am trying to install the Rhino Security Labs CloudGoat on my AWS Ubuntu 18.04 LTS Free-tier EC2 instance. I followed the directions for setting up an admin user and configuring the AWS CLI and also set up terraform v0.12 per the directions. I also configured my instance's security group to allow All traffic.

However, when I run the git clone command I get "Permission denied" error. See below fo

[2020-02-24 07:20] hamstah commented on #52
Hey
Use the Https version of the repo instead of the git one as it's a public repo you're not a maintainer of.

[2020-02-25 04:04] aloksaurabh opened #53 "Scenario: cloud_breach_s3 InvalidAccessKeyId"
See attached screenshot

![Kali-Linux-2020 1-vmware-amd64-2020-02-25-09-29-57](https://user-images.githubusercontent.com/7407336/75213971-e6ba0500-57b1-11ea-88d5-3697c9b9c2c7.png)

[2020-03-01 02:22] aloksaurabh commented on #53
There was something wrong with Kali's terminal. Please mark as closed.

[2020-03-01 02:22] #53 closed

[2020-03-05 16:02] wu4f opened #54 "Suggested tweak to shepard role in ec2_ssrf"
I believe in the last step of this level, the shepard role only needs
"Action": [
                "lambda:Get*",
                "lambda:Invoke*",
                "lambda:List*"
            ],

Right now, it has full access.
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "shepard",
            "Effect": "Allow",
            "Action": "*",
            "Resource": "*"

[2020-03-17 06:58] monu11 opened #55 "Error while running the iam_privesc_by_rollback script"
./cloudgoat.py --profile test create iam_privesc_by_rollback
Loading whitelist.txt...
A whitelist.txt file was found that contains at least one valid IP address or range.
You already have an instance of iam_privesc_by_rollback deployed. Do you want to destroy and recreate it (y) or cancel (n)? [y/n]: y

No terraform.tfstate file was found in the scenario instance's terraform directory, so "terrafo

[2020-04-06 10:03] aries20 opened #58 "in Ec2_ssrf not able to connect to http://ecipinstance"
Page Unable to connect

Firefox can’t establish a connection to the server at ec2-3-XXXXXXXX.compute-1.amazonaws.com.

    The site could be temporarily unavailable or too busy. Try again in a few moments.
    If you are unable to load any pages, check your computer’s network connection.
    If your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to acc

[2020-04-06 19:18] seb1055 commented on #58
This was closed in pull request #56. I will be closing this now thank you!

[2020-04-06 19:18] #58 closed

[2020-04-06 19:19] seb1055 commented on #50
These issues were fixed in #56 and #60. Thank you!

[2020-04-06 19:19] #50 closed

[2020-04-06 19:19] seb1055 commented on #48
This issue was fixed in #60. Thank you!

[2020-04-06 19:19] #48 closed

[2020-04-07 07:58] jasbroek commented on #55
It looks like you already had one deployed, but when destroying it could not find `terraform.tfstate` and hence could not destroy properly. Did you deploy and perhaps removed the directory manually?
Double check in your AWS account for any left-over resources (after destroying the scenario).

The scenario deploys without issues on my side, if your issues persists, try a fresh clone of the reposito

[2020-04-22 00:31] kaushik853 opened #62 "Terraform init state checks for plugins"
Hi,
How can i stop terraform from checking
Checking for available provider plugins...
Downloading plugin for provider "AWS" (hashicorp/aws)
and making it use only the existing plugins

[2020-06-22 14:51] ptrac3 opened #63 "EC2 SSRF Scenario - I/O Timeout"
Hello there, first of all kudos for such an amazing tool!
I have been playing around with most of the challenges so far but I have noticed that there might be an issue with the EC2 SSRF scenario (I have also heard someone else having the exact same problem). It seems to be related to the ZIP file needed for the lambda function deployment.
I am including a few details of my software version(s) if t

[2020-07-14 16:52] #63 closed

[2020-07-21 20:28] gchib297 opened #66 "Update cheat_sheet_kerrigan.md"
Changes required:
- Line-13: Write created key pair `pwned` to private key file `pwned.pem` and set permissions
- Line-19: Set `--instance-type t2.micro`
- Line-20: SSH to created EC2 instance

[2020-07-21 21:58] #40 closed

[2020-07-21 22:00] #52 closed

[2020-10-22 01:05] rickgds80 opened #74 "Unable to run "./cloudgoat.py config profile""
Hello I cloned the repository, I already installed all the requirements, but when running the configuration part I'm taking the following error:

root@kali:~/CloudGoat# ./cloudgoat.py config profile
**Traceback (most recent call last):
  File "./cloudgoat.py", line 112, in <module>
    from core.python.commands import CloudGoat
ModuleNotFoundError: No module named 'core.python'**

![image](https:/

[2020-10-25 19:00] sidejackthenativity commented on #74
Did you do the following?

pip3 install -r ./core/python/requirements.txt
$ chmod u+x cloudgoat.py

[2020-10-25 19:17] sidejackthenativity opened #75 "Terrform error"
Hi there,

I am getting the following error:

Error: error configuring Terraform AWS Provider: no valid credential sources for Terraform AWS Provider found.

Is there a Terraform config file I need to adjust?

Thanks!

[2020-10-29 23:52] rickgds80 commented on #74
Yes, i've run the dependencies before.

![image](https://user-images.githubusercontent.com/38327991/97644235-8c500300-1a28-11eb-9108-9658ad84114d.png)

[2020-11-21 04:42] blacklat commented on #74
this is a crap

[2020-12-03 13:10] TheDarkH0rse opened #79 "Error while create many scenarios."
### Hello please help me. I can't create this scenarios. When I create that show the error.

`$ ./cloudgoat.py create [SCENARIO_NAME] --profile [PROFILE]`
- cloud_breach_s3
- ec2_ssrf
- rce_web_app

This is _warning_ for 3 above.

And this is _error_ for 3 above.

- ecs_efs_attack

This is _error_ for **ecs_efs_attack** scenario.

**AWS CLI :** 2.1.6
**Terraform :** v0.13.5

[2021-02-02 09:19] TheDarkH0rse commented on #79
I was update terraform to version 0.14.5. That's work.

[2021-02-02 09:19] #79 closed

[2021-04-17 17:22] 0x4ngK4n opened #83 "[cloudgoat] Error while running `terraform apply`."
**[Background]**
I was attempting to learn AWS cloud security via cloudgate. Hence I proceeded to follow the steps of installation at https://github.com/RhinoSecurityLabs/cloudgoathttps://github.com/RhinoSecurityLabs/cloudgoat.
However, after installing the requisite dependencies, and executing the command: ./cloudgoat.py create iam_privesc_by_rollback gives me error [cloudgoat] Error while runnin

[2021-04-27 21:37] #66 closed

[2021-04-27 22:12] RyanJarv opened #85 "test"
test

[2021-04-27 22:13] #85 closed, assigned to nobody

[2021-04-28 22:23] skytory opened #86 "testing"
1234567

[2021-04-28 22:26] #86 closed

[2021-04-30 02:55] RyanJarv commented on #83
@0x4ngK4n Do you mind trying this again with the latest changes? We recently merged terraform 0.15 support in https://github.com/RhinoSecurityLabs/cloudgoat/pull/84.

[2021-04-30 03:12] RyanJarv commented on #75
@sidejackthenativity Sorry for the delayed response here.

Typically there is, for cloudgoat however the AWS profile is configured in `config.yml`. It should look something like this:
[code]

Running `./cloudgoat.py config profile` will also set this up for you.

I would check what this is set to and run the following command to make sure your AWS credentials are set up correctly.

Just replace de

[2021-04-30 03:21] RyanJarv commented on #74
@rickgds80 Realize this is an old issue, but if you're still having issues with this do you mind posting the python version you're using?

At some point I believe python (unsure what versions) required __init__.py files in each directory of a module, which don't exist in this repo currently. If you're using an older python version upgrading may fix the issue.

[2021-04-30 03:32] RyanJarv commented on #62
It should be possible to possible to use a common plugin directory by passing `-plugin-dir` to terraform init when it is run by CloudGoat. This would need to be supported in the code though and it wouldn't guarantee the plugins wouldn't be fetched, but most likely would limit the number of times they need to be downloaded.

Is there a reason you need to use already existing modules?

[2021-04-30 03:37] RyanJarv commented on #55
I'm going to go ahead and close this issue. If you're still having issues with this feel free to open another issue referencing this one.

[2021-04-30 03:37] #55 closed

[2021-05-05 16:06] rowbot1 commented on #49
try this "echo -n 'yourpublickeyhere' | base64 -d > /home/ubuntu/.ssh/authorized_keys"

[2021-05-08 09:22] rowbot1 opened #87 "aws s3 ls --profile cgec2role"
https://github.com/RhinoSecurityLabs/cloudgoat/blob/master/scenarios/ec2_ssrf/cheat_sheet_solus.md

typo here in bold:

Then Add the EC2 instance credentials to your AWS CLI credentials file at ~/.aws/credentials) as shown below:

[ec2role]
aws_access_key_id = asdasdasd
aws_secret_access_key = asdasdsadas
aws_session_token = "asdasdasd"

aws s3 ls --profile **cgec2role**

[2021-05-08 09:32] #87 closed

[2021-06-20 19:53] shooricg opened #92 "./cloudgoat destroy scenario -error"
Hey guys,
When I run the terraform destroy command I get the following error.

This happens for all of the scenarios.  Do you know this can be?

Destroy "lambda_privesc"? [y/n]: y
╷
│ Error: Failed to parse command-line flags
│
│ flag provided but not defined: -force
╵

For more help on using this command, run:
  terraform destroy -help

[cloudgoat] Error while running `terraform destroy`.
    exi

[2021-06-22 02:42] RyanJarv commented on #92
I imagine this is related to the version of terraform that is running.

Do you mind sharing the output from `terraform version` and `git rev-parse HEAD` (should be ran from inside the CloudGoat repo)?

[2021-06-22 02:43] RyanJarv commented on #83
Closing this for now but feel free to open another issue if you're still having issues with this after updating.

[2021-06-22 02:43] #83 closed

[2021-06-23 16:57] shooricg commented on #92
Hey, thank you for getting back to me. This what I assumed. Originally I had Terraform v1.0,0., right after creating this issue, I downgraded to v0.15, and 'Destroy' begin work, even on the resources created with Terraform v1.0,0

[2021-06-29 17:35] j0eblow commented on #92
Hi @shooricg this should be fixed now. Can you give it a try and report back? Thank you.

[2021-07-01 16:28] RyanJarv opened #96 "rce_web_app truncates SSH public key"
Details in #95.

[2021-07-02 17:07] shooricg commented on #92
@j0eblow Thank you all works now. Verified for v1.0.1.

[2021-07-02 18:03] j0eblow commented on #92
Closing this now as the issue has been fixed.

[2021-07-02 18:03] #92 closed

[2021-07-02 18:06] j0eblow commented on #96
Already exists in #49.

[2021-07-02 18:06] #96 closed

[2021-07-02 18:11] j0eblow commented on #49
@halfluke good catch. I also ran into this issue and found that generating an ed25519 key pair and using its public key did the trick:

`ssh-keygen -t ed25519`

[2021-07-16 22:53] RyanJarv commented on #74
I'm going to close this issue. Feel free to open another one and reference this though if you are still having issues.

[2021-07-16 22:53] #74 closed

[2021-07-16 22:55] RyanJarv commented on #75
I'm going close this issue since we haven't heard back in a while. If you're still having issues with this feel free to open a new issue and reference this one though.

[2021-07-16 22:55] #75 closed

[2021-08-10 13:29] koreatlwls opened #98 "Hi bro"
how to solve this error ??
I want to create cloud_breach_s3

Error: Error creating S3 bucket: InvalidBucketName: The specified bucket is not valid.
│       status code: 400, request id: [         ], host id: [                                         ]
│
│   with aws_s3_bucket.cg-cardholder-data-bucket,
│   on s3.tf line 2, in resource "aws_s3_bucket" "cg-cardholder-data-bucket":
│    2: resource "

[2021-08-11 04:17] hackingprofessional commented on #98
I have the same problem! :(

[2021-08-11 06:19] Spartan-Cybersecurity opened #100 "Error deploying all labs related to S3 service"
Hello!
I am getting the following errors for each lab that makes use of the S3 service:
I am using the terraform version: v1.0.4
And also my AWS version is: aws-cli/1.19.1 Python/3.9.2 botocore/1.20.0

**LAB cloud_breach_s3**
`Error creating S3 bucket: InvalidBucketName: The specified bucket is not valid.
│       status code: 400, request id: XXXXX, host id: XXXXX
│
│   with aws_s3_bucket.cg-secre

[2021-08-11 09:15] christophetd opened #101 "Feature request: Support authentication when AWS environment variables are already available in the environment"
Using aws-vault to authenticate, it would be useful if cloudgoat could take into account the environment variables already available to authenticate to AWS rather than having to specify a profile.

[code]

[2021-08-11 09:21] christophetd commented on #100
Same issue for `cloud_breach_s3`.

[2021-08-11 10:02] christophetd commented on #98
Fixed in #102

[2021-08-11 17:54] RyanJarv commented on #101
This would be a great change, this often effects me as well. Will look into changing this behavior.

[2021-08-11 19:16] RyanJarv opened #103 "ec2_ssrf error on default page"
It looks like the default page of the EC2 instance results in the following error:

[code]

The following URL does however work, just difficult to get to this step when the main page is broken.
[code]

[2021-08-11 19:47] #98 closed

[2021-08-11 19:47] #100 closed

[2021-08-11 19:50] RyanJarv commented on #98
Just merged @christophetd's fix for this. If you update to the latest commit and rerun ./cloudgoat.py create cloud_breach_s3 it should work now.

If you run into any issues go ahead and open a new issue.

[2021-08-11 20:10] RyanJarv commented on #62
I'm going to go ahead and close this due to lack of response. Realize it took a while to get back to you on this though, so if you are still interested in this feel free to open another issue and link to this one.

I think we can consider looking into this more if there's a good reason, but at the moment I'm not seeing a compelling reason (but maybe I'm missing something here!). Also open to accep

[2021-08-11 20:10] #62 closed

[2021-08-11 20:53] RyanJarv commented on #54
I went ahead and made a PR with your suggested changes.

I also looked through this module as well to see if there was any issues with the whitelist configuration but didn't find any. Do you know if you may have used a broader whitelist during setup then necessary by chance or if your using a shared IP? This may explain how someone else got ahold of these keys if so.

[2021-08-12 15:10] koreatlwls opened #105 "hi bro"
I want to create codebuild_secrets
but
Error: only lowercase alphanumeric characters and hyphens allowed in "identifier"
│
│   with aws_db_instance.cg-psql-rds,
│   on rds.tf line 51, in resource "aws_db_instance" "cg-psql-rds":
│   51:   identifier = "cg-rds-instance-${var.cgid}"
│
╵

[cloudgoat] Error while running `terraform plan`.
    exit code: 1
    stdout: None
    stderr: None

this error

[2021-08-16 16:12] RyanJarv commented on #105
Just merged #106, if you want to try pulling the latest commit from master let us know if that resolves the issue for you. Thanks!

[2021-08-18 19:18] 1nteger-c opened #107 "unintended vulnerability in Scenario: ecs_efs_attack"
I found some unintended way to get the flag of the "ecs_efs_attack".
But  I think it must be patched so I write the issue about this vulnerability.

After command `$ ./cloudgoat.py create ecs_efs_attack` , I can access to the EC2 instance by using the given private key.
In that situation, I tried to mount EFS data.  When I tried to mount, some error occur but I can solve that error by install nfs

[2021-09-01 04:41] javalogicuser opened #108 "Error configuring Terraform AWS Provider: no valid credential sources for Terraform AWS Provider found."
Not able to do any of these challenges because of the AWS provider error, using Kali...

Currently trying the iam_privesc_by_rollback...

I've set/used environment variables for the AWS credentials; tried to use the credentials file; I've verified the access keys work; but still getting the error:
│
│ Please see https://registry.terraform.io/providers/hashicorp/aws
│ for more information about pro

[2021-11-08 08:41] htoochonaung commented on #108
Me too . I face with that kinda error

[2021-12-15 03:24] 7absec commented on #108
Execute the following code

export AWS_ACCESS_KEY_ID="xxxxxxxxxxxxx"
export AWS_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxx"
export AWS_DEFAULT_REGION="your-region-1"

[2021-12-15 03:28] 7absec opened #113 "Not able to access any public ip/url"
Everything was working good (rce_web_app) but when I got the public IP and tried to access the following error I got "This site can’t be reached"
Is there any misconfiguration coz I did everything accurately? 😅
Can some1 help me out???

[2021-12-17 02:21] #113 closed

[2021-12-23 10:18] christophetd opened #114 "Map scenarios to ATT&CK cloud"
Opening for tracking - it would be great to have a mapping of each scenario to ATT&CK cloud, to

1. Understand the overall coverage of CloudGoat
2. For a specific scenario, have a high-level overview of the attack techniques that are used

[2021-12-29 07:00] christophetd opened #115 "Enhancement: Don't define provider blocks inside the scenarios"
Terraform best practices [dictate](https://www.terraform.io/language/modules/develop/providers) that a module shouldn't define its own provider configuration, unless it needs something specific.

An enhancement would be to not define the AWS provider in every scenario. It would also make it easier to perform refactorings like #101

[2022-01-10 17:41] RyanJarv commented on #115
Was just thinking about this and I'm thinking this might work:

Have a parent tf project which contains the provider config, this file doesn't need to change during the cloadgoat lifecycle so it can be edited by the user if needed. When a scenario is enabled we write a file out in the same project which includes the specific scenario as a module, when it's deleted that file is deleted.

[2022-01-10 17:44] RyanJarv commented on #114
Like this idea.

[2022-02-11 14:04] SieBrum opened #119 "Multiple scenarios are not working on terraform-provider-aws v4.0"
All scenarios that use
`
ACL: private
`
Are now failing using the newest [terraform-provider-aws](https://github.com/hashicorp/terraform-provider-aws) version, as the `acl` has been deprecated (it says it's deprecated but the script now fails to deploy anything so it seems to be fully removed).

`
The some of the affected scenarios are (but not limited to):
- cloud_breach_s3
- rce_web_app

[2022-02-11 14:28] cmd-ctrl-freq commented on #119
@SieBrum Thanks for bringing this issue up. I'm actually working on cloudgoat today so I'll take a look at this.

[2022-02-11 16:30] cmd-ctrl-freq commented on #119
@SieBrum I just pushed a hotfix for this issue to master. Thanks for bring this up! Please let me know if you run into future issues.

[2022-02-11 16:30] #119 closed

[2022-02-11 16:32] #105 closed

[2022-02-20 18:09] eddydee123 opened #122 "Docker image is amd64 but uses Terraform arm64 version"
I'm getting an error when trying to run any command in the Docker image:
OSError: [Errno 8] Exec format error: 'terraform'

The Dockerfile includes this line:
RUN wget -O terraform.zip 'https://releases.hashicorp.com/terraform/0.15.1/terraform_0.15.1_linux_**arm64**.zip' \

Shouldn't this be amd64?

[2022-02-20 23:02] RyanJarv commented on #122
I think that was the intent, although we probably really need to detect this automatically now that macOS has switched to arm?

Do you mind testing PR #123 and let me know if that works for you?

[2022-03-28 08:54] benedictkwok opened #124 "S3.tf is having issue in acl="private""
./cloudgoat.py create ec2_ssrf
The create command requires the use of the --profile flag, or a default profile defined in the config.yml file (try "config profile").
bash-5.1# ./cloudgoat.py create ec2_ssrf --profile default
No whitelist.txt file was found at /usr/src/cloudgoat/whitelist.txt
CloudGoat can automatically make a network request, using curl, to ifconfig.co to find your IP address, and

[2022-04-26 20:41] andrew-kline opened #126 "vulnerable_lambda resource_cleaning.sh needs aws profile"
Hi there,

Loved the new vulnerable_lambda scenario, thanks so much for pushing this out. Noticed during clean up that the iam module runs the resource_cleaning.sh (scenarios/vulnerable_lambda/terraform/resource_cleaning.sh) makes AWS calls, but doesn't accept or use a profile argument - therefore failing as it defaults to the default AWS profile.

<img width="400" alt="image" src="https://user-im

[2022-04-26 20:47] cmd-ctrl-freq commented on #126
@andrew-kline good catch! Thank you for the detailed issue! This was totally an oversight on my part, as my default creds just worked during my development process by happenstance. I'll work on prioritizing this issue ASAP.

[2022-04-26 20:56] andrew-kline commented on #126
Thanks @cmd-ctrl-freq for the really quick response and for looking into it!

[2022-04-27 14:12] cmd-ctrl-freq commented on #126
@andrew-kline Alrighty I just pushed out a fix for this. I'm kinda pushing the boundaries of what terraform will allow provisioners to be used for, so the way it works is wonky in my opinion, but it should work unless there's a bizarre edge case I'm not thinking of where AWS would reject a valid profile name from occurring in a tag.

if you're interested in the coding changes: https://github.com/R

[2022-05-04 11:43] HLOverflow opened #128 "Terraform Errors on creating CICD scenario."
Hi there,

I encountered a terraform error that I could not find a proper fix.

I have done the following scenarios (not requiring extra resources) with no terraform issues except this CICD scenario:
- vulnerable_lambda
- iam_privesc_by_rollback
- cloud_breach_s3
- ec2_ssrf
- ecs_takeover
- rce_web_app
- ecs_efs_attack

![cloudgoat_create_cicd_error](https://user-images.githubusercontent.com/18380

[2022-05-11 23:15] daehee commented on #126
Not sure if related, but I ran into the below "Permission denied" error when attempting to destroy the lab:
[code]

Dirty patch but what worked to resolve was to prepend the command with `bash` in the `iam.tf` file:
[code]

[2022-05-18 17:11] ArtistYay opened #130 "Not letting me destroy"
![image](https://user-images.githubusercontent.com/72479678/169102138-4b053844-ce9c-4f50-95c7-e105d8c855e7.png)

Not sure what's missing, I'm a beginner in this.

[2022-05-18 17:26] ArtistYay opened #131 "Step 5: assume the lambda invoker role"
![image](https://user-images.githubusercontent.com/72479678/169104403-225ae737-7c51-4bdf-a795-b5b8c01973c2.png)

I've posted in the slack channel also but haven't gotten any help. Between this and destroy the scenario I'm having trouble.

[2022-05-20 09:47] YorkshireGold commented on #74
Hey @RyanJarv. I have this same issue, but don't want to clog things up with a duplicate.

 I tried all the obvious things; importing this package from different places, but it still isn't recognised, and I get the same error?

@rickgds80 how did you resolve this in the end ? 😌

Best regards

[2022-05-20 18:26] RyanJarv commented on #131
Hey @ArtistYay looks like there are quotes missing around the last element (cg-... should be "cg-...").

[2022-05-20 18:32] RyanJarv commented on #131
It looks like we'll have to clarify this in the cheat sheet. Right now it attempts to show where to replace the real name but doesn't say much about quoting to make it valid JSON.

[2022-05-20 22:20] RyanJarv commented on #131
Can you try again with double quotes instead of single?

[2022-05-20 22:47] ArtistYay commented on #131
Yeah I had double quotes in the command. Not sure why the out txt is showing single.

[2022-05-21 01:23] RyanJarv commented on #74
@YorkshireGold do you know what python version your using?

Should print that

[2022-05-27 14:29] mpass99 opened #133 "AWS Region"
The AWS region used by CloudGoat is `us-east-1`. This is defined in multiple places [¹](https://github.com/RhinoSecurityLabs/cloudgoat/blob/cc1b83d71bdb19bf19ad09d1050382470ebab316/core/python/commands.py#L35) [²](https://github.com/RhinoSecurityLabs/cloudgoat/blob/cc1b83d71bdb19bf19ad09d1050382470ebab316/scenarios/ecs_takeover/terraform/remove_placement_constraints.py#L6) [³](https://github.com/R

[2022-06-07 00:16] DhiyaneshGeek opened #134 "Issue on ECS Takeover Scenario"
Hi Team

when i tried to replicate the scenario for practice and found it's not working properly

**Steps to Reproduce:**

1. After getting the command execution
2. Try to get the credentials of AWS account using the following command
[code]
3. The above command leaked the AWS credentials along with token
4. Configure the aws credentials into a profile.
5. Try to enumerate the ecs clusters using t

[2022-06-08 22:20] #134 closed

[2022-06-10 00:57] RyanJarv commented on #128
@HLOverflow Hi there, thanks for letting us know. I believe this branch should resolve the
 issue if you want to give that a try  https://github.com/RhinoSecurityLabs/cloudgoat/tree/fix/128-cicd-init.

You may need to delete the scenario before re-creating after the other branch is checked out it however, otherwise you will likely run into the same error.

[2022-06-11 15:37] thetestlabs opened #136 "IPv6 Address Returned for Whitelist.txt"
When running `./cloudgoat.py config whitelist --auto` I get the following error:

[code]

This is due to Cloudgoat expecting an IPv4 address, but receiving and IPv6 address from `ifconfig.co`.

Looking at the git history, it seems that curl is no longer used to retrieve the IP address. and that the default address returned from ifconfig.co is the IPv6 address. Running `curl -4 ifconfig.co/json` re

[2022-06-13 16:04] ArtistYay commented on #131
Hey I used the double quotes and this is what I got.
![image](https://user-images.githubusercontent.com/72479678/173396323-4de05517-d9a6-418b-8c33-dece14525421.png)

[2022-06-17 03:19] RyanJarv commented on #130
This should also be resolved with https://github.com/RhinoSecurityLabs/cloudgoat/pull/129 merged.

I'm going to close this for now, but if anyone is running into issues on the latest commit let me know.

[2022-06-17 03:19] #130 closed

[2022-06-18 02:03] RyanJarv opened #137 "create does not sync scenario code from the repo"
This causes a lot of headaches during development, you either have to destroy/recreate or copy code manually. This seems to have resulted in several fixes missing from PRs I've worked on.

Additionally it would be nice not to need to tell users to destroy/recreate in issue comments when a fix is merged.

Terratest does solve much of this issue but it doesn't exist for many of the modules currently

[2022-06-28 22:31] #128 closed

[2022-07-07 09:23] kloudle-demo opened #144 "Reuse VPCs between scenarios"
Currently AWS limits number of VPCs  to 5. Creating any 5 scenarios that require a VPC exhausts this limit and all `create` commands fail with a `error creating EC2 VPC: VpcLimitExceeded: The maximum number of VPCs has been reached.` error.

Would it be possible to reuse some of the VPCs created as part of other `create` operations.

A workaround is to request a VPC quota increase at [https://us-e

[2022-07-07 10:26] kloudle-demo opened #145 "Postgres version error during create"
The following create operations fail with `Error creating DB Instance: InvalidParameterCombination: Cannot find version 9.6 for postgres` error.

- `./cloudgoat.py create codebuild_secrets`
- `./cloudgoat.py create rce_web_app`

[2022-07-11 13:50] #145 closed, assigned to nobody

[2022-07-11 13:50] riyazwalikar opened #148 "Postgres version error during create"
The following create operations fail with `Error creating DB Instance: InvalidParameterCombination: Cannot find version 9.6 for postgres` error.

- `./cloudgoat.py create codebuild_secrets`
- `./cloudgoat.py create rce_web_app`

[2022-07-11 13:51] riyazwalikar opened #149 "Reuse VPCs between scenarios"
Currently AWS limits number of VPCs  to 5. Creating any 5 scenarios that require a VPC exhausts this limit and all `create` commands fail with a `error creating EC2 VPC: VpcLimitExceeded: The maximum number of VPCs has been reached.` error.

Would it be possible to reuse some of the VPCs created as part of other `create` operations.

A workaround is to request a VPC quota increase at [https://us-e

[2022-08-11 11:28] RooshanNaeem commented on #148
looks like postgres version that is being used to setup DB instance is depreciated .i.e postgres 9.6. All you need to do is to go to your terraform directory and look for rds.tf named file. Search for engine_version in the file and change the version to the one that is supported by AWS.
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html

[2022-08-17 10:07] ddkrj opened #151 "error while destroying cloud_breach s3 scenario"
I have created a cloud_breach_s3 scenario, but it ended with an error. But the scenario was created in the cloudgoat folder. Then I tried to destroy the scenario and got the following error. please help me to clear this issue. However, I want to destroy this scenario.
The error while destroying is as shown below.
![Screenshot (697)](https://user-images.githubusercontent.com/111427429/185093052-099

[2022-08-28 10:03] #151 closed

[2022-08-28 10:03] ddkrj commented on #151
solved

[2022-09-07 12:38] ravitejasssihl commented on #126
Hello, Am Ravi,as part of a collage assignment am interested in solving this issue.For which I need your approval and guidance.Can you accept me as a contributer?

[2022-09-11 16:59] cmd-ctrl-freq commented on #126
@ravitejasssihl thanks for expressing interest!

I'm no longer a privileged user in this repo so I can't close the issue. I believe the original issue was fixed. If you want to look into @daehee's issue above, that may still need to be fixed in the main branch. If so:
- fork this repo so that you have a personal copy
- implement and test your fix in your own fork
- open a pull request to this repo

[2022-09-12 02:48] JasonBourne1998 commented on #148
Thanks for your reply. However, I try some versions like 13.6,12.7. All versions report errors, some are still version errors, and some are not compatible with the version. Could you please tell me how to determine which version is correct?

[2022-09-13 14:51] raja1rao opened #152 "tearaform regex partten should be change tfor version check"
as i am using new terraform version as
Terraform v1.3.0-alpha20220817
on linux_amd64
the regex partten used in cloudgoat.py "Terraform\ v(\d+\.\d+)\.\d+\s" will not match and through a error

"Terraform not found. Please install Terraform before using CloudGoat."

i fixed this issue by changing the regex "Terraform\ v(\d+\.\d+)" to get the version

also in teraform oder version we can't get emulla

[2022-09-17 06:16] L0nm4r commented on #148
engine_version: 13.3
instance_class: db.m5.large

[2022-09-27 07:42] AbdullahRizwan101 opened #153 "Deprecated Postgres version"
An error occurs when creating the `rce_web_app` scenario, `Error creating DB Instance: InvalidParameterCombination: Cannot find version 9.6 for postgres`

The reason why it occurs is because `postgres` version 9.6 has been deprecated, this can be resolved by changing `engine_version` from 9.6 to 12 in the file `scenarios/rce_web_app/terraform/rds.tf`

![](https://i.imgur.com/w428t4Z.png)

[2022-09-27 10:07] AbdullahRizwan101 commented on #153
I guess it was already reported and is fixed

[2022-09-27 10:07] #153 closed

[2022-10-03 20:45] #148 closed

[2022-10-03 21:23] #136 closed

[2022-10-06 09:54] AbdullahRizwan101 opened #154 "Having an issue accessing the site in ECS Takeover scenario"
I am having an issue on accessing the url it shows at the end

![](https://i.imgur.com/MZ469IG.png)

I can't ping the url and the browser doesn't show any site as well

![](https://i.imgur.com/c2sHyhz.png)

Is there any fix for this ?

[2022-10-11 00:18] jdearmas commented on #154
Hello! I performed the ecs_takeover scenario.
  I was able to connect to the AWS EC2 instance on commit [c5ca030a67970ec21f7bd2bc1cbb7ef3b97e5587].

  However, in order to help you with this issue more effectively, could you provide the following:

-   Provide the exact software version number or git commit hash this issue is on.

  And, if possible:

-   Provide the minimum amount of steps needed

[2022-10-15 17:41] pswalia2u opened #156 "Deployment error for cloud_breach_s3"
![image](https://user-images.githubusercontent.com/20887270/196000446-a7302558-7ff9-40ca-b2b8-911a4bc8a509.png)
./cloudgoat.py create cloud_breach_s3

[2022-10-23 23:00] mr-b4rt0wsk1 commented on #156
Had the same issue after using a Wi-Fi network I normally don't connect to. Was able to resolve by running `./cloudgoat.py config whitelist --auto` so that my new IP address range was added to `whitelist.txt`. The EC2 instance in this scenario won't get provisioned otherwise.

See this part of the README for reference: [https://github.com/RhinoSecurityLabs/cloudgoat#whitelist](https://github.com/R

[2022-10-24 17:25] pswalia2u opened #157 "Deployment error for cicd challenge"
![image](https://user-images.githubusercontent.com/20887270/197587979-ad534f81-2fa5-4205-be5e-8a465bd76895.png)

Getting while deploying challenge-
./cloudgoat.py create cicd

[2022-11-11 01:16] tmechen opened #158 "deprecated python in chris cheat sheet"
https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/

`An error occurred (InvalidParameterValueException) when calling the CreateFunction operation: The runtime parameter of python3.6 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (python3.9) while creating or updating functions.`

[2022-11-30 19:43] #158 closed